<!-- <section class="mx-10">
<h1 class="text-3xl"> {{ country().name }}</h1>
<h1 class="text-xl font-thin">
  Población {{ country().population | number }}</h1>
</section>

-->


<section class="mx-10 my-8 p-6 bg-base-100 rounded-xl shadow-md border border-base-200">
  <h1 class="text-3xl font-bold text-primary mb-2">
    {{ country().name }}
  </h1>
  <h2 class="text-lg text-base-content font-light">
    Población: {{ country().population | number }}
  </h2>



  <div class="stats shadow mx-5">
    <div class="stat place-items-center">
    <div class="stat-title">Población</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">{{ currentYear() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{ country().name }} </div>
    <div class="stat-desc text-secondary">{{ country().region}} </div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">sub region</div>
    <div class="stat-value">{{ country().subRegion }}</div>
    <div class="stat-desc"> {{ country().region }}</div>
  </div>
</div>
<div class="stat place-items-center">
  <div class="stat-title">Bandera</div>
  <div class="stat-value">{{ country().flag }}</div>
  <div class="stat-desc"> {{ country().subRegion }}</div>
</div>

</section>



<section class="diff aspect-[16/9]" tabindex="0">
  <div class="diff-item-1">
    <img [alt]="country().name"
         [src]="country().flagSvg"
         />
  </div>
  <div class="diff-item-2">
    <img
      class="blur brightness-75"
      [alt]="country().name"
      [src]="country().flagSvg"
       />
  </div>
  <div class="diff-resizer"></div>

</section>
