<section class="mt-5 bg-warning">
  <section class="mt-5 bg-gradient-to-r from-orange-400 via-pink-500 to-purple-500 animate-gradient-x">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
          <th>#</th>
          <th>icono</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>capital</th>
          <th>Población</th>
          <th></th>
      </tr>
   </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ country.flag }}</td>
          <td>
            <img
                 [src]="country.flagSvg"
                 [alt]="country.name"
                class="w-10"
                />
          </td>
          <td>{{ country.name  }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.population }}</td>
          <td>
              <a class="link-primary cursor-pointer">Mas información</a>
          </td>
        </tr>

      }
      </tbody>
    </table>
          <section class="mt-5 bg-warning">
     </section>
   </section>
</section>


